.flex-container {
    display: flex;
    background-color: white;
      border: 5px solid black;
    
  }
   
  .flex-container > div {
    
  border: 2px solid green;
  height: 1000px;
  width: 30px;
   
  }
  