

    .header1{
        text-align: right;
        padding: 0px 100px 0px 0px;
    }

    .poep{
        gap: 10px;
        width: 97vw;
        height: 97 vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 1fr 1fr 100px;
    }

    .bottomding{
        display: grid;
        grid-template-columns: auto auto auto;
    }



